<style media="screen">
  .uploadresume-evey{
    background-color: rgba(0,0,0,0.2);
    box-shadow: 2px 2px 2px black;
    width: 200px;
    height:50px;
    border-radius: 10px;
    color: #1e1c1c;
    text-align: center;
    line-height: 50px;

  }
  .uploadresume-evey:hover{
    background-color: grey;

  }
</style>


<div class="boxmargin" style="margin:5%;">
  <h1><%= @job.title %></h1>
  <p>
  <%= simple_format(@job.description) %>
  </p>

  <div class="text-center uploadresume-evey" style="margin:0 auto; margin-top:100px; ">
    <%= link_to("Upload Resume", new_job_resume_path(@job), :style => "font-size: 20px; color: #1e1c1c;") %>
  </div>

</div>
