<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<script src="http://www.w3schools.com/lib/w3data.js"></script>

<style media="screen">
p{
  color:white;
  text-align: center;
}



.caption {
  margin: 30px;
  text-align: center;
  top: 20px;

}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin-top: 60px;

}
.thumbnail:hover{
  box-shadow: 2px 2px 8px darkgrey;
}
.thumbnail img{
  height: 300px;
  width: 100%;

}
.quote{
  font-family: 'Lobster', cursive;
  text-align: left;
  margin-left:5%;
  color:#3f3f3f;
  margin-top: 0;
}
.quote:hover{
  color:black;
}

#company{
  background-image: url(http://www.anishdua.com/wp-content/uploads/2016/07/Light-Grey-Background-Hd-5-1.jpg);
  background-size: cover;
  padding-bottom: 100px;
  padding-top: 100px;
}
</style>



<div class="outsidebox">

  <!-- BOXA-->
  <div class="box-a grey">
    <div class="a">
      BUILDING CAREERS,
      <br>LEADING TO SUCCESS.
      </div>
  <p class="careerpartners">
  Career Partners ——Xinshengdaxue’s employment site.
  <br>Search jobs at Career Partners. Find work or recruit the ideal candidates.
  </p>

  </div>
      <!--BOXA-end -->



  <!--BOXB -->
  <div class="box-b blue" id="first">

<div class="b-textbox">
  <div class="b-textboxinvisible">
  <div class="b-title">
    <span style="color:white; font-size:18px;">Xinshengdaxue</span>
  </div>
  <div class="small-title">
    CAREER <br>PARTNERS
  </div>

    <p class="b-p" style="font-size: 18px;">
Career Partners is Xinshengdaxue’s
employment site. Not only can you
search jobs and recruit the ideal
candidates, but also find more about
Ruby on Rails and your career path.
    </p>
</div>

</div>

  </div>
      <!--BOXEB-end -->



  <!--BOXC -->
  <div class="box-c grey" id="second">
<div class="box-c-textbox">
  <div class="box-c-textbox-invisible">

      <h1>CAREER PARTNERS</h1>

<br>PHONE:
<br>+64 27 3196 191

<br><br>EMAIL:
<br>zhongwen322@gmail.com

<br><br>WECHAT:
<br>zhongweninri
<br><br>
<button type="button" name="button" class="btn btn-default eveybtn" style="background-color:#181818; font-size:20px; color:#a5a4a4;">
<a href="Mailto:zhongwen322@gmail.com">Email Us</a>
</button>



  </div>
</div>
  </div>
      <!--BOXC-end -->


  <!-- BOXD-->
  <div class="box-d blue" id="third">
    <div class="box-d-textbox">
      <div class="box-d-left">
        <div class="box-d-left1">
<h1>Job Titles For <br>‘Ruby on Rails’ <br>Skill & Their <br>Remunerations</h1>

<br>Here’s a list of Job titles and their salaries for Ruby on Rails skills:


        </div>
      </div>
      <div class="box-d-right">
          <div class="box-d-right1">


Software Engineer Want $95,000
<br>Software Engineer Ruby $97,000
<br>Ruby ON Rails Engineer $95,000
<br>Ruby on Rail $99,000
<br>Junior Ruby Developer $66,000
<br>Senior Ruby Developer $106,000
<br>Ruby on Rails Developer $98,000
<br>Senior Javascript Web Developer $110,000
<br>Ruby Developer $87,000
<br>Ruby Software Engineer $87,000
<br>Ror Developer $107,000
<br>Stack Software Engineer $102,000
<br>Rails Hacker $87,000
<br>Rails Developer $90,000
<br>Web Application Engineer $102,000

          </div>
      </div>
    </div>

  </div>
      <!--BOXD-end -->


<!--BOXE-->


<section id="company">

  <h2 class="quote">
    <br>Don't let the expectations and opinions of other people affect your decisions.
  <br>It's your life, not theirs.
    <br>Do what matters most to you;
    <br>Do what makes you feel alive and happy.
  <br><br>― Roy T. Bennett
  </h2>


  <div class = "container-fluid">

    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://rogerabledog.com/wp-content/uploads/2016/01/black-dog-head-on-black-background.jpg" alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h3>Junior Ruby Developer</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://images3.alphacoders.com/375/375.jpg" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h3>Senior Ruby Developer</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://s-media-cache-ak0.pinimg.com/originals/f4/62/41/f462419c440e9d4b46583c1423a37531.jpg" alt="heart" class = "img-thhumbnail">
          <div class="caption">
            <h3>Javascript Web Developer</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--BOXE END-->

<!--SLIDESHOW-->
<div class="showbox"  style="background-color:#333231;">


<h2 style="margin:0;"></h2>

<div class="w3-content w3-display-container">
  <img class="mySlides" src="https://ooo.0o0.ooo/2017/01/24/5886df261d822.png" style="width:100%">
  <img class="mySlides" src="https://ooo.0o0.ooo/2017/01/24/5886df26af70e.jpg" style="width:100%">
  <img class="mySlides" src="https://ooo.0o0.ooo/2017/01/24/5886df26c236d.jpg" style="width:100%">

<div style="margin-left:45%;">
  <a class="w3-btn-floating w3-display-left" onclick="plusDivs(-1)">&#10094;</a>
  <a class="w3-btn-floating w3-display-right" onclick="plusDivs(1)">&#10095;</a>
</div>


</div>

</div>
<!--SLIDESHOW END-->


  <!--BOXF -->
  <div class="box-f blue">
<div class="box-f-text">
  <ul class="text-f">
    <li class="text-f"> <a href="#first">ABOUT US ○</a></li>
    <li class="text-f"><a href="#second">CONTACT US ○</a></li>
    <li class="text-f"><a href="#third">CAREER PLAN ○</a></li>
    <li class="text-f"><a href="/jobs">JOB LISTING ○</a></li>
  </ul>

</div>
  </div>
    <!--BOXF-end -->

</div>

<script>

var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}

</script>
