<style media="screen">
p{
  color:white;
  text-align: center;
}
</style>



<div class="outsidebox">

  <!-- BOXA-->
  <div class="box-a grey">
    <div class="a">
      BUILDING CAREERS,
      <br>LEADING TO SUCCESS.
      </div>
  <p class="careerpartners">
  Career Partners ——Xinshengdaxue’s employment site.
  <br>Search jobs at Career Partners. Find work or recruit the ideal candidates.
  </p>

  </div>
      <!--BOXA-end -->



  <!--BOXB -->
  <div class="box-b blue" id="first">

<div class="b-textbox">
  <div class="b-textboxinvisible">
  <div class="b-title">
    <span style="color:white; font-size:18px;">Xinshengdaxue</span>
  </div>
  <div class="small-title">
    CAREER <br>PARTNERS
  </div>

    <p class="b-p" style="font-size: 18px;">
Career Partners is Xinshengdaxue’s
employment site. Not only can you
search jobs and recruit the ideal
candidates, but also find more about
Ruby on Rails and your career path.
    </p>
</div>

</div>

  </div>
      <!--BOXEB-end -->



  <!--BOXC -->
  <div class="box-c grey" id="second">
<div class="box-c-textbox">
  <div class="box-c-textbox-invisible">

      <h1>CAREER PARTNERS</h1>

<br>PHONE:
<br>+64 27 3196 191

<br><br>EMAIL:
<br>zhongwen322@gmail.com

<br><br>WECHAT:
<br>zhongweninri
<br><br>
<button type="button" name="button" class="btn btn-default eveybtn" style="background-color:#181818; font-size:20px; color:#a5a4a4;">
<a href="Mailto:zhongwen322@gmail.com">Email Us</a>
</button>



  </div>
</div>
  </div>
      <!--BOXC-end -->


  <!-- BOXD-->
  <div class="box-d blue" id="third">
    <div class="box-d-textbox">
      <div class="box-d-left">
        <div class="box-d-left1">
<h1>Job Titles For <br>‘Ruby on Rails’ <br>Skill & Their <br>Remunerations</h1>

<br>Here’s a list of Job titles and their salaries for Ruby on Rails skills:


        </div>
      </div>
      <div class="box-d-right">
          <div class="box-d-right1">


Software Engineer Want $95,000
<br>Software Engineer Ruby $97,000
<br>Ruby ON Rails Engineer $95,000
<br>Ruby on Rail $99,000
<br>Junior Ruby Developer $66,000
<br>Senior Ruby Developer $106,000
<br>Ruby on Rails Developer $98,000
<br>Senior Javascript Web Developer $110,000
<br>Ruby Developer $87,000
<br>Ruby Software Engineer $87,000
<br>Ror Developer $107,000
<br>Stack Software Engineer $102,000
<br>Rails Hacker $87,000
<br>Rails Developer $90,000
<br>Web Application Engineer $102,000

          </div>
      </div>
    </div>

  </div>
      <!--BOXD-end -->



  <!--BOXF -->
  <div class="box-f blue">
<div class="box-f-text">
  <ul class="text-f">
    <li class="text-f"> <a href="#first">ABOUT US ○</a></li>
    <li class="text-f"><a href="#second">CONTACT US ○</a></li>
    <li class="text-f"><a href="#third">CAREER PLAN ○</a></li>
    <li class="text-f"><a href="/jobs">JOB LISTING ○</a></li>
  </ul>

</div>
  </div>
    <!--BOXF-end -->

</div>
