<style media="screen">


</style>
<div class="bannerevey">
  <a class="top1" href="#" style="line-height:50px; font-size:20px;">TOP</a>
</div>


<div class="footerevey">
<span style="font-size:18px;line-height:50px;margin-left:8%; color:#a5a4a4;">2017 © Rails101 Designed by Wen (Evey) Zhong</span>

<div class="invisiblegood footerright">

</div>


</div>
