<style media="screen">
.footerevey{
  height:84px;
width:100%;
  background-color: #181818;
  position: relative;


}


.footerright{

height: 84px;


float: right;
text-align: center;
line-height: 84px;

}
.footerright:hover{
  color:white;
}
.invisiblegood{
    border-left: 2px solid #434343;
    height:84px;
    width:80px;

}

</style>


<div class="footerevey">
<span style="font-size:18px;line-height:84px;margin-left:8%; color:#a5a4a4;">2017 © Rails101 Designed by Wen (Evey) Zhong</span>

<div class="invisiblegood footerright">

</div>


</div>
