<style media="screen">
.ph{
  text-align: center;
  color: grey;
}
.ph:hover{
  color: white;
}
.container{
  background-color: black;
  width: 100%;
}
.copyrightevey{
  margin-top: 150px;
  color:grey;
}
</style>

<footer class="container" style="margin-top: 100px;">
<p class="text-center copyrightevey">Copyright ©2017 Rails101
<br>Designed by Wen (Evey) Zhong
</p>
<div class="ph">Phone:  +64 27 3196 191 |
     Email:  zhongwen322@gmail.com |
       Wechat:  zhongweninri
     </div>

</footer>
