<style media="screen">
  .inputevey{
    width:300px;
position: absolute;
right:110px;
border-radius: 5px;
height: 35px
  }
</style>

<input type="text" name="" value="Fullstack Developer" class="inputevey">
<button type="button" name="button" class="btn btn-default pull-right">Find a job</button>
